body {
  display: flex;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
#container {
  margin: 20px auto;
  width: 860px;
}
a:link { color: #4d70db; }
a:visited { color: #666699; }
table {
  table-layout: fixed;
  width: 100%;
}
tr:nth-child(even) { background: #CCC; }
tr:nth-child(odd) { background: #FFF; }
th, td {
  padding: 3px 12px;
  text-align: right;
  vertical-align: bottom;
}
td:nth-child(1),td:nth-child(2), td:nth-child(3) { text-align: center; }
td { font-family: 'Droid Sans Mono', monospace; }
th {
  background: #cd6a51;
  color: white;
  text-align: center;
}
th:nth-child(1) {
  width: 3ch;
}
th:nth-child(2) {
  width: 7ch;
}
th:nth-child(3) {
  width: 7ch;
}
th:nth-child(4) {
  width: 13.5ch;
}
th:nth-child(5) {
  width: 8ch;
}
th:nth-child(6) {
  width: 8ch;
}
